<% pets.each do |pet| %>
<div class="card" style="width: 18rem; ">
  <%= image_tag (pet["photos"].count > 0) ? pet["photos"][0]["medium"] : "dog.jpg", class: "card-img-top" %> 
  <div class="card-body">
    <h5 class="card-title"><%= link_to pet["name"], { action: "show", id: pet["id"]} %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= pet["type"] %></h6>
    <p class="card-text">Age: <%= pet["age"] %></p>
    <p class="card-text">Gender: <%= pet["gender"] %></p>
    <p class="card-text">Size: <%= pet["size"] %></p>
  </div>
</div>
<%end%>

