<%= render '/shared/navbar', x:"animals" %>

<%= link_to "dog", @params.merge({ action: "index", type: "dog"}), class:"btn btn-light mb-3" %>
<%= link_to "cat", @params.merge({ action: "index", type: "cat"}), class:"btn btn-light mb-3"%>
<%= link_to "baby", @params.merge({ action: "index", age: "baby"}), class:"btn btn-light mb-3"%>
<%= link_to "young", @params.merge({ action: "index", age: "young"}), class:"btn btn-light mb-3"%>
<%= link_to "adult", @params.merge({ action: "index", age: "adult"}), class:"btn btn-light mb-3"%>
<%= link_to "senior", @params.merge({ action: "index", age: "senior"}), class:"btn btn-light mb-3"%>

<div class="container">
    <div class="row">
        <%= render '/shared/card', pets: @pets %>
    </div>
</div>


